@import "../styles/styles";

html {
  position: relative;
  height: 100%;
  margin: 0;
}

body {
  margin-bottom: 90px;
  min-height: 100%;
  background-color: $body-color;
}

.footer {
  position: absolute;
  padding-top: 5px;
  bottom: 0;
  color: white;
  font-size: 15px;
  text-align: right;
  border-radius: 0;
  width: 100%;
  height: 90px;
  background-color: #333333;
}

.navbar {
  background-color: $navbar-color;
}

.search-box {
  padding-top: 0.5%;
  padding-left: 10%;
  padding-right: 10%;
}


