#title-row {
  padding-bottom: 32px;
  font-size: 24px;
  margin-right: 20%;
  font-weight: bold
}

#price-row {
  padding-bottom: 32px;
  font-size: 46px;
}

#buy-button{
  width: 100%;
  background-color: #3483FA;
  color: white;
}

#description-row{
  padding-bottom: 32px;
  font-size: 28px;
}
