.card-pane {
  background-color: $white;
  margin-bottom: 20px;
  padding: 1.25rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px 0 $mediumgrey;
  -moz-box-shadow: 0 1px 3px 0 $mediumgrey;
  box-shadow: 0 1px 3px 0 $mediumgrey;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .125);
}

.card-title {
  @include title(18px, 700, capitalize, $darkgrey);
}

