/* MIXINS */
@mixin title($font-size, $font-weight, $text-transform, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  text-transform: $text-transform;
  color: $color;
}
// Colors

// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$mediumgrey: #e0e0e0;
$darkgrey: #555459;
$body-color: #EEEEEE;
$navbar-color: #FFE600;
$button-color: #3483FA;
$breadcrumb-color: #666666;
//
//$container-max-widths: (
//  sm: 540px,
//  md: 720px,
//  lg: 960px,
//  xl: 1140px
//) !default;
