<form [formGroup]="form">
  <div class="input-group mb-3">
    <a (click)="limpiarBusqueda()" routerLink="./home">
      <img src="../../assets/Logo_ML.png" alt="Mercado Libre">
    </a>
    <div style="width: 1%"></div>
    <input (keydown)="keyDownFunction($event)" type="text" formControlName="filtro" class="form-control"
           placeholder="Nunca dejes de buscar"
           aria-describedby="search-addon">
    <div class="search-addon input-group-append" (click)="buscar()">
      <span class="input-group-text" id="search-addon">
        <img src="../../assets/ic_Search.png" alt="Buscar">
      </span>
    </div>
  </div>
</form>




